<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AmongUs : Courses</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../static/img/icon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

   <!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/dashboard" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <p class="m-0 fw-bold" style="font-size: 25px;"><img src="../static/img/icon.png" alt="" height="50px">Among<span
                style="color: #fb873f;">Us</span></p>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/dashboard" class="nav-item nav-link active">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/courses" class="nav-item nav-link">Courses</a>
            <a href="/team" class="nav-item nav-link">Our Team</a>
                   
                </div>
            </div>
            <a href="/" class="nav-item nav-link"><i class="fa fa-user"></i></a>
            <a href="#" class="nav-item nav-link">
                <div id="google_translate_element"></div>
            </a>
        </div>
    </div>
</nav>
<!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


   

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center px-3">Popular Courses</h6>
                <h1 class="mb-5" style="color: #fb873f;">Engaging Courses for Toddlers</h1>
            </div>
            <div class="row g-4 py-2">
                <!-- Course 1 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item shadow">
                        <div class="position-relative overflow-hidden text-light image">
                            <img class="img-fluid" src="../static/img/course-1.png" alt="ABC Learning">
                            <div style="position:absolute;top: 15px;left: 16px; font-size:12px; border-radius:3px; background-color:#fb873f;"
                                class="px-2 py-1 fw-bold text-uppercase">FREE</div>
                        </div>
                        <div class="p-2 pb-0">
                            <h5 class="mb-1"><a href="/dashboard/course" class="text-dark">ABC Learning for Toddlers</a></h5>
                        </div>
                        <div class="d-flex">
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>4.8</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>500+ Learners</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user me-2"></i>Beginner</small>
                        </div>
                        <div class="d-flex">
                            <!-- <small class="flex-fill text-left p-2 px-2"><i class="fa fa-clock me-2"></i>1.5 Hrs</small>
                            <small class="py-1 px-2 fw-bold fs-6 text-center">₹ 0</small>
                            <small class=" text-primary py-1 px-2 fw-bold fs-6" style="float:right;"><a href="#">Enroll Now</a><i class="fa fa-chevron-right me-2 fs-10"></i></small> -->
                        </div>
                    </div>
                </div>
    
                <!-- Course 2 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item shadow">
                        <div class="position-relative overflow-hidden text-light image">
                            <img class="img-fluid" src="../static/img/course-2.png" alt="Basic Shapes and Colors">
                            <div style="position:absolute;top: 15px;left: 16px; font-size:12px; border-radius:3px; background-color:#0ed44c;"
                                class="px-2 py-1 fw-bold text-uppercase">PAID</div>
                        </div>
                        <div class="p-2 pb-0">
                            <h5 class="mb-1">Basic Shapes and Colors</h5>
                        </div>
                        <div class="d-flex">
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>4.7</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>300+ Learners</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user me-2"></i>Beginner</small>
                        </div>
                        <div class="d-flex">
                            <!-- <small class="flex-fill text-left p-2 px-2"><i class="fa fa-clock me-2"></i>2.0 Hrs</small>
                            <small class="py-1 px-2 fw-bold fs-6 text-center">₹ 199</small>
                            <small class=" text-primary py-1 px-2 fw-bold fs-6" style="float:right;"><a href="#">Enroll Now</a><i class="fa fa-chevron-right me-2 fs-10"></i></small> -->
                        </div>
                    </div>
                </div>
    
                <!-- Course 3 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item shadow">
                        <div class="position-relative overflow-hidden text-light image">
                            <img class="img-fluid" src="../static/img/course-3.png" alt="Simple Words and Phrases">
                            <div style="position:absolute;top: 15px;left: 16px; font-size:12px; border-radius:3px; background-color:#fb873f;"
                                class="px-2 py-1 fw-bold text-uppercase">FREE</div>
                        </div>
                        <div class="p-2 pb-0">
                            <h5 class="mb-1">Simple Words and Phrases</h5>
                        </div>
                        <div class="d-flex">
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>4.6</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>400+ Learners</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user me-2"></i>Beginner</small>
                        </div>
                        <div class="d-flex">
                            <!-- <small class="flex-fill text-left p-2 px-2"><i class="fa fa-clock me-2"></i>2.0 Hrs</small>
                            <small class="py-1 px-2 fw-bold fs-6 text-center">₹ 0</small>
                            <small class=" text-primary py-1 px-2 fw-bold fs-6" style="float:right;"><a href="#">Enroll Now</a><i class="fa fa-chevron-right me-2 fs-10"></i></small> -->
                        </div>
                    </div>
                </div>
    
                <!-- Course 4 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item shadow">
                        <div class="position-relative overflow-hidden text-light image">
                            <img class="img-fluid" src="../static/img/course-4.png" alt="Interactive Learning Games">
                            <div style="position:absolute;top: 15px;left: 16px; font-size:12px; border-radius:3px; background-color:#0ed44c;"
                                class="px-2 py-1 fw-bold text-uppercase">PAID</div>
                        </div>
                        <div class="p-2 pb-0">
                            <h5 class="mb-1">Interactive Learning Games</h5>
                        </div>
                        <div class="d-flex">
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>4.9</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>200+ Learners</small>
                            <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user me-2"></i>Beginner</small>
                        </div>
                        <div class="d-flex">
                            <!-- <small class="flex-fill text-left p-2 px-2"><i class="fa fa-clock me-2"></i>3.0 Hrs</small>
                            <small class="py-1 px-2 fw-bold fs-6 text-center">₹ 299</small>
                            <small class=" text-primary py-1 px-2 fw-bold fs-6" style="float:right;"><a href="#">Enroll Now</a><i class="fa fa-chevron-right me-2 fs-10"></i></small> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    

 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s"
 style="position: relative; background: #3586ff; min-height: 100px; padding: 20px 50px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
 <div class="container py-5">
     <div class="row g-5">
         <!-- Quick Links Section -->
         <div class="col-lg-4 col-md-6">
             <h4 class="text-white mb-3">Quick Links</h4>
             <p><a class="text-light" href="#">Home</a></p>
             <p><a class="text-light" href="#">About</a></p>
             <p><a class="text-light" href="#">Services</a></p>
             <p><a class="text-light" href="#">Team</a></p>
             <p><a class="text-light" href="#">Contact</a></p>
         </div>
         <!-- Contact Information Section -->
         <div class="col-lg-4 col-md-6">
             <h4 class="text-white mb-3">Contact</h4>
             <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Jaipur-Ajmer Express Highway, Dehmi Kalan </p>
             <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 0000000000</p>
             <p class="mb-2"><i class="fa fa-envelope me-3"></i>amongus@gmail.com</p>
 
         </div>
         <!-- Subscribe Section -->
         <div class="col-lg-4 col-md-6">
             <h4 class="text-white mb-3">Any doubts? We'll get back to you</h4>
             <p>Leave your Email here</p>
             <div class="position-relative mx-auto" style="max-width: 400px;">
                 <form action="#">
                     <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="email" placeholder="Your email"
                         required>
                     <button type="submit"
                         class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                 </form>
             </div>
         </div>
     </div>
 </div>
 <div class="container">
     <div class="copyright">
         <div class="row">
             <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                 &copy; <a class="border-bottom" href="#">AmongUs</a>, All Rights Reserved.
             </div>
         </div>
     </div>
 </div>
 <!-- Wave Effect -->
 <div class="wave"
     style="position: absolute; top: -50px; left: 0; width: 100%; height: 100px; background: url('img/wave.png'); background-size: 1000px 100px;">
     <div class="wave" id="wave1"
         style="z-index: 1000; opacity: 1; bottom: 0; animation: animateWave 4s linear infinite;"></div>
     <div class="wave" id="wave2"
         style="z-index: 999; opacity: 0.5; bottom: 10px; animation: animateWave_02 4s linear infinite;"></div>
     <div class="wave" id="wave3"
         style="z-index: 1000; opacity: 0.2; bottom: 0; animation: animateWave 3s linear infinite;"></div>
     <div class="wave" id="wave4"
         style="z-index: 999; opacity: 0.7; bottom: 10px; animation: animateWave_02 3s linear infinite;"></div>
 </div>
 </div>
 <!-- Footer End -->
 
 <!-- CSS Animations -->
 <style>
 @keyframes animateWave {
     0% {
         background-position-x: 1000px;
     }
 
     100% {
         background-position-x: 0px;
     }
 }
 
 @keyframes animateWave_02 {
     0% {
         background-position-x: 0px;
     }
 
     100% {
         background-position-x: 1000px;
     }
 }
 </style>
 
 <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>